* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  
 /* background-image: url('./images/bitcoin-2729806_1920.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%; */
background-color: #36454f;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  color: white;
}



ul {
  list-style: none;
}

.coinlist-image {
  width: 50px;
}

.coinlist-item {
  display: flex;
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}

.App{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background: #36454f;
}

.loading{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background: transparent;
}
